@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.featured-card {
  @apply bg-white shadow-lg rounded-lg p-4 w-48 transition-all border-2 border-transparent;
}

.featured-card:hover {
  @apply scale-105;
}

.bar {
  @apply w-8 h-1 bg-pink-500 transition-colors;
}

.bar:hover {
  @apply bg-blue-500;
}